{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <br><br>
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8  col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            {% for user in users %}
                <div class="row user-row">
                    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                        <img class="img-rounded img-responsive center-block profile-picture-small"
                             src="{{ asset('rsz_shop.jpg') }}"
                             alt="User Pic"
                        >
                    </div>
                    <div class="col-xs-8 cfuol-sm-9 col-md-10 col-lg-10">
                        <strong>{{ user.email }}</strong><br>
                        <span class="text-muted text-capitalize"><strong>User roles:</strong> {{ user.getRoles()|first }}</span>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-user" data-for=".cyruxx-{{ user.id }}">
                        <i class="glyphicon glyphicon-chevron-down text-muted"></i>
                    </div>
                </div>
                <div class="row user-infos cyruxx-{{ user.id }}">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">User information</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 ">
                                        <img class="img-rounded img-responsive center-block profile-picture"
                                             src="{{ asset('rsz_shop.jpg') }}"
                                             alt="User Pic"
                                        >
                                        {#action="/admin/changeProfilePicForUserIdPost" za form#}
                                        <form class="text-center" method="post" enctype="multipart/form-data">
                                            <label class="btn btn-default btn-file">
                                                <input type="file" name="image" hidden>
                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                <input type="submit" name="change_profile_pic" value="Save New Image">
                                            </label>
                                        </form>
                                    </div>
                                    <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                        <strong>{{ user.email }}</strong><br>
                                        <dl>
                                            <dt>User role:</dt>
                                            <dd>{{ user.getRoles()|first }}</dd>
                                            <dt>Real Name</dt>
                                            <dd>{{ user.fullName }}</dd>
                                            <dt>Email</dt>
                                            <dd>{{ user.email }}</dd>
                                            {#add Date#}
                                            {#<dt>Registered since:</dt> <dd>{{value["creation_date"]}}</dd>#}
                                        </dl>
                                    </div>
                                    <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                        <strong>{{ user.fullName }}</strong><br>
                                        <table class="table table-user-information">
                                            <tbody>
                                            <tr>
                                                <td>User role:</td>
                                                <td>{{ user.getRoles()|first }}</td>
                                            </tr>
                                            <tr>
                                                <td>Real Name</td>
                                                <td>{{ user.fullName }}</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>{{ user.email }}</td>
                                            </tr>
                                            {#ADD DATE#}
                                            {#<tr>#}
                                            {#<td>Registered since:</td>#}
                                            {#<td>{{value["creation_date"]}}</td>#}
                                            {#</tr>#}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="pull-right">
                                    <div class="btn btn-sm btn-warning" data-original-title="Edit this user">
                                        {#<a href="/users/edit/{{ user.id }}"></a>#}
                                        <i class="glyphicon glyphicon-edit"></i>

                                    </div>
                                    <div class="btn btn-sm btn-danger" data-original-title="Delete">
                                        {#<a href="/admin/deleteUser/{{value['id']}}"></a>#}
                                        <i class="glyphicon glyphicon-remove"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

            {% endfor %}

        </div>
    </div>
{% endblock %}
